body {
    background-color: #323232 !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

h1 {
    text-align: center;
    color: white !important;
}

table {
    border-collapse: collapse;
    border: 5px solid #323232;
}

table td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid white;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}